<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Ajout d'un auteur</title>
    </head>
    <body>
        {% extends 'base.html' %}
        {% block main %}
        <h1>Ajout d'un auteur</h1>
        <form action="{{ url_for('add_author_succeed') }}" method="POST" role="form">
            {{ form.hidden_tag() }}
            <div class="{% if form.name.errors %} form-group has-error {% else %} form-group {% endif %}">
                {{ form.name.label }} {{ form.name(size=50) }}
            </div>
            {% if form.name.errors %}
            <ul class="list-group">
                {% for e in form.name.errors %}
                <li class="list-group-item list-group-item-danger">{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input type="submit" value="Enregistrer">
        </form>
        {% endblock %}
    </body>
</html>