<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block main %}
        <h1> {{ book.title }}</h1>
        <div class="sample">
            <img src="{{ url_for('static', filename='images/'+book.img)}}" alt="{{book.title}}" title="{{book.title}}">
            <p>Auteur : <a href="{{ url_for('author', id=author.id)}}">{{ book.author.name }}</a></p>
            <p>Prix : {{ book.price }}€</p>
            <p>Url : <a href="{{book.url}}">{{ book.url }}</a></p>
        </div>
        {% endblock %}
    </body>
</html>